<website-header></website-header>
<div class="container mt-5 mb-5 pt-5 pb-5">
  <div class="row mt-5 mb-5 pt-5 pb-5 no-gutters">
    <div class="col-lg-auto">
      <i class="fal fa-users-cog fa-9x mr-5"></i>
    </div>
    <div class="col-lg d-flex flex-column justify-content-center">
      <h2 class="bold">Mitgliederverwaltung</h2>
      <p>Erfasse deine Mitglieder ganz einfach und bequem, lege Rollen und Funktionen fest und verwalte alle weiteren
        für die Moscheeeinrichtung wichtigen Mitgliederinformationen.</p>
    </div>
    <div class="col-lg"></div>
  </div>
  <div class="row mt-5 mb-5 pt-5 pb-5 no-gutters">
    <div class="col-lg"></div>
    <div class="col-lg-auto">
      <i class="fal fa-book-open fa-9x mr-5"></i>
    </div>
    <div class="col-lg d-flex flex-column justify-content-center">
      <h2 class="bold">Buchhaltung</h2>
      <p>Verwalte deine Einnahmen und Ausgaben, schau dir dein Jahresergebnis jederzeit an und erstelle einen Jahresbericht in Form einer Einnahmen-Ausgaben-Rechnung inkl. automatischem Spendennachweis für das Finanzamt.</p>
    </div>
  </div>
  <div class="row mt-5 mb-5 pt-5 pb-5 no-gutters">
    <div class="col-lg-auto">
      <i class="fal fa-file-alt fa-9x mr-5"></i>
    </div>
    <div class="col-lg d-flex flex-column justify-content-center">
      <h2 class="bold">Dokumente</h2>
      <p>Lege deine Vereinsdokument zentral an einem Ort ab, egal ob Excel, Word, PDF oder Fotos und erteile bequem
        Zugriffsrechte auf Ordner, die jederzeit online verfügbar sind.</p>
    </div>
    <div class="col-lg"></div>
  </div>
  <div class="row mt-5 mb-5 pt-5 pb-5 no-gutters">
    <div class="col-lg"></div>
    <div class="col-lg-auto">
      <i class="fal fa-calendar-check fa-9x mr-5"></i>
    </div>
    <div class="col-lg d-flex flex-column justify-content-center">
      <h2 class="bold">Veranstaltungen und Termine</h2>
      <p>Erstelle Veranstaltungen und Termine, mache diese öffentlich oder privat und lade Personen dazu ein und verfolge den Status, wie zum Beispiel Besuchszusagen.</p>
    </div>
  </div>
</div>
<website-footer></website-footer>
