<website-header></website-header>
<div class="banner d-flex align-items-center" id="banner">
  <div class="container">
    <div class="row pt-5 pb-5 no-gutters">
      <div class="col-lg">
        <h2 class="bold">Verwaltung leicht gemacht</h2>
        <p>Effiziente und bequeme Verwaltung ihrer Moscheeeinrichtung. Alles auf einem Ort: Mitgliederverwaltung,
          Buchhaltung, Sitzungsprotokolle, Terminverwaltung und Inventarverwaltung.</p>
        <br/>
        <div class="d-flex">
          <button class="btn primary mr-3 mt-3" [routerLink]="['/overview']">Mehr details</button>
          <button class="btn secondary mr-3 mt-3" [routerLink]="['/register']">Jetzt registrieren</button>
        </div>
      </div>
      <div class="col-lg"></div>
    </div>
  </div>
</div>
<website-footer></website-footer>
